SECRET_KEY= # Секретный код Django

DEBUG= # Флаг запуска в режиме разработки

LOCAL_TIME_ZONE= # Название местного часового пояса, например: Europe/Moscow. По умолчанию используется UTC

# Автоматическое создание суперпользователя и первый запуск сервера
CREATE_SUPER_ADMIN= # Согласие на создание супер-пользователя при запуске или перезапуске сервера
    # ВАЖНО!!! При первом запуске с "пустой" базой данных необходимо указать True
    # Супер-пользователь через админ-панель должен создать первые должности и выделить определенным должностям набор прав:
    #  - "создавать и просматривать объекты модели Activity" - пользователи с данной должностью будут иметь полный доступ к эндпоинтам модели Activity и Employee
    #  - "просматривать объекты модели Activity" - пользователи с данной должностью будут иметь возможность регистрировать новых сотрудников с присвоением им одной из существующих должностей
    # После того, как в системе появятся сотрудники, имеющие вышеуказанные права супер-пользователь может быть удален ими же, а флаг CREATE_SUPER_ADMIN может быть исключен из переменных окружения
SUPER_ADMIN_ACTIVITY= # Название должности нового супер-пользователя. ОБЯЗАТЕЛЬНО указать при CREATE_SUPER_ADMIN=True
SUPER_ADMIN_NAME= # Системное имя-идентификатор нового супер-пользователя. ОБЯЗАТЕЛЬНО указать при CREATE_SUPER_ADMIN=True
    # Максимальная длина имени - 12 символов, указанное имя необходимо для авторизации в админ-панели
SUPER_LAST_NAME= # Фамилия нового супер-пользователя. ОБЯЗАТЕЛЬНО указать при CREATE_SUPER_ADMIN=True
SUPER_FIRST_NAME= # Имя нового супер-пользователя. ОБЯЗАТЕЛЬНО указать при CREATE_SUPER_ADMIN=True
SUPER_FATHER_NAME= # Отчество нового супер-пользователя, опционально
SUPER_PASSWORD= # Пароль нового супер-пользователя. ОБЯЗАТЕЛЬНО указать при CREATE_SUPER_ADMIN=True

# Параметры подключения к базе данных
DB_NAME= # Название БД
DB_USER= # Имя пользователя БД
DB_PASSWORD= # Пароль пользователя БД
DB_PORT= # Порт подключения БД, УКАЗЫВАТЬ ДЛЯ ПРОДАКШЕНА НЕ ЖЕЛАТЕЛЬНО!!!
    # Переменная может быть использована для доступа к базе данных docker-контейнера в обход основного интерфейса приложения
DB_HOST= # Хост БД для локальной разработки, по умолчанию используется db. НЕ УКАЗЫВАТЬ ДЛЯ ПРОДАКШЕНА!!!

# Параметры токенов JWT-авторизации
ACCESS_TOKEN_LIFETIME= # Срок годности access-токена в минутах, по умолчанию устанавливается 5
REFRESH_TOKEN_LIFETIME= # Срок годности refresh-токена в сутках, по умолчанию устанавливается 1

# Настройки Celery
CELERY_TASK_TRACK_STARTED= # Флаг отслеживания выполнения задач, по умолчанию используется true
CELERY_TASK_TIME_LIMIT = # Предел времени для обработки одной задачи в секундах, по умолчанию используется 600
CELERY_LOG_LEVEL= # Уровень логирования Celery, по умолчанию используется INFO
    # Доступные варианты уровня логирования: DEBUG, INFO, WARNING, ERROR, CRITICAL
CELERY_EXPIRED_STATUS_CHECK_INTERVAL= # Значение в минутах для интервала периодических проверок просроченных задач, по умолчанию используется 30

# Безопасность
CORS_ALLOWED_ORIGINS= # Указать список разрешенных доменов через запятую, без пробелов
CSRF_TRUSTED_ORIGINS= # Указать список разрешенных доменов через запятую, без пробелов
    # Пример значений для обоих ключей:
    # http://12.34.56.78,https://12.34.56.78,http://localhost,https://example.com

# Тестирование
TEST_MODE= # Флаг для установки фиксированных настроек docker-сети внутри контейнера в тестовом режиме
    # По умолчанию имеет значение False, устанавливается автоматически при запуске github workflows, НЕ УКАЗЫВАТЬ ДЛЯ ПРОДАКШЕНА!!!
