SECRET_KEY= # Секретный код Django

DEBUG= # Флаг запуска в режиме разработки

LOCAL_TIME_ZONE= # Название местного часового пояса, например: Europe/Moscow. По умолчанию используется UTC

# Параметры подключения к базе данных
DB_NAME= # Название БД
DB_USER= # Имя пользователя БД
DB_PASSWORD= # Пароль пользователя БД
